.JP {
  font-family: 'potemin', 'Noto Sans JP', sans-serif;

  &-Caption10-Regular {
    font-size: 0.625rem;
    font-weight: normal;
  }

  &-Caption10-Bold {
    font-size: 0.625rem;
    font-weight: bold;
  }

  &-Body12-Regular {
    font-size: 0.75rem;
    font-weight: normal;
  }

  &-Body12-Bold {
    font-size: 0.75rem;
    font-weight: bold;
  }

  &-Body15-Regular {
    font-size: 0.9375rem;
    font-weight: normal;
  }

  &-Body15-Bold {
    font-size: 0.9375rem;
    font-weight: bold;
  }

  &-Title18-Regular {
    font-size: 1.125rem;
    font-weight: normal;
  }

  &-Title18-Bold {
    font-size: 1.125rem;
    font-weight: bold;
  }

  &-Title21-Regular {
    font-size: 1.3125rem;
    font-weight: normal;
  }

  &-Title21-Bold {
    font-size: 1.3125rem;
    font-weight: bold;
  }

  &-Header24-Regular {
    font-size: 1.5rem;
    font-weight: normal;
  }

  &-Header24-Bold {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-Header27-Regular {
    font-size: 1.6875rem;
    font-weight: normal;
  }

  &-Header27-Bold {
    font-size: 1.6875rem;
    font-weight: bold;
  }

  &-Big30-Regular {
    font-size: 1.875rem;
    font-weight: normal;
  }

  &-Big30-Bold {
    font-size: 1.875rem;
    font-weight: bold;
  }
}

